@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Estilos personalizados */

/* Colores principales */
:root {
  --color-primario: #0e4c75;
  --color-secundario: #f6f5f5;
}

/* Animación de desplazamiento suave para los enlaces de navegación */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

/* Estilos para la barra de navegación */
.navbar {
  margin-bottom: 20px;
  background-color: var(--color-primario);
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 85px; /* Ajusta el tamaño del logo según tus necesidades */
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(
    1.1
  ); /* Ajusta la escala de la animación al poner el mouse encima */
}

/* Estilos para los títulos */
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 20px;
  color: var(--color-primario);
  font-weight: 900;
}

/* Estilos para los párrafos */
p {
  margin-bottom: 10px;
  color: var(--color-primario);
}

/* Estilos para la navegación activa */
.navbar-nav .nav-item.active .nav-link {
  font-weight: bold;
}

#informacion {
  margin-top: 100px;
}
