@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Estilos personalizados */

/* Colores principales */
:root {
  --color-primario: #0e4c75;
  --color-secundario: #f6f5f5;
}

/* Animación de desplazamiento suave para los enlaces de navegación */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

/* Estilos para la barra de navegación */
.navbar {
  margin-bottom: 20px;
  background-color: var(--color-primario);
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  backdrop-filter: blur(5px); /* Desenfoque */
  -webkit-backdrop-filter: blur(
    5px
  ); /* Desenfoque para navegadores basados en WebKit */
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 85px; /* Ajusta el tamaño del logo según tus necesidades */
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(
    1.1
  ); /* Ajusta la escala de la animación al poner el mouse encima */
}

/* Estilos para los títulos */
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 20px;
  color: var(--color-primario);
  font-weight: 900;
}

/* Estilos para los párrafos */
p {
  margin-bottom: 10px;
  color: var(--color-primario);
}

/* Estilos para la navegación activa */
.navbar-nav .nav-item.active .nav-link {
  font-weight: bold;
}

#informacion {
  margin-top: 100px;
}

#mision {
  margin-top: 100px;
}

#equipo2 {
  margin-bottom: 50px;
}

ul {
  text-align: start !important;
}

.ul-space {
  padding-top: 0px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#informacion-portafolio {
  height: 200px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
